@model PartServiceModel

@{
    ViewBag.Title = "House Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Part Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Availability: <b>@Model.Stock</b></p>
            <p>Manufacturer: <b>@Model.Manufacturer</b></p>
            <p>Original MPN: <b>@Model.OriginalMpn</b></p>
            <p>@Model.Description</p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-warning" asp-controller="House" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="House" asp-action="Delete"
                   asp-route-id="@Model.Id">Delete</a>
                    @*@if (!Model.IsRented)
                    {
                        <form class="ml-2" asp-controller="House"
                      asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Rent" />
                        </form>
                    }
                    else
                    {
                        <form class="ml-2" asp-controller="House" asp-action="Leave"
                      asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                        </form>
                    }*@
                }
            </div>
            <p></p>
        </div>
    </div>
</div>
